
body{
    background-color: rgb(139, 62, 34);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "form assets";
    border: 7px solid black;
    border-radius: 10px;
}

 .container div{
    display: flex;
    padding: 15px;
    border: 2px solid black;
    background-color: rgb(255, 191, 0);
}  

header{
    text-align: center;
  
}

ul{
    list-style: none;
}

img {
    width: 150px;
}


